@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins:wght@300&display=swap');
html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins'; */
}
.font-poppins{
    font-family: 'Poppins';
}